<div class="offer">
	<div class="offer-sub-type">Flying Blue Store</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-12">
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" title="Bose Noise Cancelling Headphone">
				<div class="img-container img-ratio-2-1">
					<img alt="Bose Noise Cancelling Headphone" sizes="(min-width: 1000px) 930px, 90vw"
					data-srcset="
					/assets/img/bose-small.jpg 480w, 
					/assets/img/bose-medium.jpg 768w, 
					/assets/img/bose-large.jpg 1024w" 
					data-src="/assets/img/bose-large.jpg" class="lazyload img-responsive" />
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-12">
			<h3 class="offer-title offer-title--horz">
				Bose Noise Cancelling Headphone
				<small>Limited Edition</small>
			</h3>
			<div class="offer-intro">
				Headphones on. World off. Our partner Bose offers all Noise Cancelling headphones for only 89.985 Miles - exclusively for Flying Blue members! Be quick because this offer is limited and only valid until 31 December 2015.
			</div>
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" class="offer-link">Visit store</a>
		</div>
	</div>
</div>