<div class="offer">
	<a href="#" target="_blank" title="Join the festivities with Hertz!">
		<div class="offer-visual">
			<div class="offer-icon">
				<div class="cell">
					Bonus Miles
				</div>
			</div>
			<div class="img-container img-ratio-5-2">
				<img alt="Join the festivities with Hertz!" sizes="(min-width: 1000px) 930px, 90vw"
				data-srcset="
				/assets/img/hertz-small.jpg 480w, 
				/assets/img/hertz-medium.jpg 768w, 
				/assets/img/hertz-large.jpg 1024w" 
				data-src="/assets/img/hertz-large.jpg" class="lazyload img-responsive" />
			</div>
		</div>
	</a>
	<h3 class="offer-title">
		Join the festivities with Hertz!
		<small>And you could become a Miles Millionaire </small>
	</h3>
	<div class="offer-intro">
		Hertz is celebrating Flying Blue’s 10th anniversary by offering you the chance to become a Miles Millionaire. You will be automatically entered in our prize draw when you rent a car through Hertz using your Flying Blue number before 29 February 2016. And it doesn’t stop there...
	</div>
	<a href="#" target="_blanl" class="offer-link">Book now</a>
</div>