<div class="offer">
	<a href="http://production.rent-at-avis.com/avisonline/gb/avis_ba.nsf/c/Flying%20B%20UK+Home" target="_blank" title="Celebrate with Avis">
		<div class="offer-visual">
			<div class="offer-icon">
				<div class="cell procent">
					50%
				</div>
			</div>
			<div class="img-container img-ratio-5-2">
				<img alt="Celebrate with Avis" sizes="(min-width: 1000px) 930px, 90vw"
				data-srcset="
				/assets/img/avis-small.jpg 480w, 
				/assets/img/avis-medium.jpg 768w, 
				/assets/img/avis-large.jpg 1024w" 
				data-src="/assets/img/avis-large.jpg" class="lazyload img-responsive" />
			</div>
		</div>
	</a>
	<h3 class="offer-title">
		Celebrate with Avis 
		<small>10,000 Award Miles</small>
	</h3>
	<div class="offer-intro">
		Avis is happy to join Flying&nbsp;Blue’s 10th anniversary celebrations! Book your Avis car for 7 days or longer and get an extra 10,000 Award&nbsp;Miles.
		<ul>
			<li>Pick-up between 15 December 2015 and 31&nbsp;August&nbsp;2016</li>
			<li>Rentals in Europe, the Middle-East and Africa</li>
		</ul>
	</div>
	<a href="http://production.rent-at-avis.com/avisonline/gb/avis_ba.nsf/c/Flying%20B%20UK+Home" target="_blank" class="offer-link">Book now</a>
</div>