<div class="header">
	<nav class="container">
		<a href="http://www.flyingblue.com" class="logo" title="Flying Blue"></a>
		<div class="language">
			<span class="showmenu"><img src="https://www.flyingblue.com/images/flags/en.gif" alt="">EN</span>
			<div class="select-language">
				<ul>
					<li>
						<a href="/klm/en/en/10years"><img src="https://www.flyingblue.com/images/flags/en.gif" alt="">Eng</a>
					</li>
					<li>
						<a href="/klm/fr/fr/10years"><img src="https://www.flyingblue.com/images/flags/fr.gif" alt="">Fra</a>
					</li>
					<li>
						<a href="/klm/nl/nl/10years"><img src="https://www.flyingblue.com/images/flags/nl.gif" alt="">Ned</a>
					</li>
					<li>
						<a href="/klm/de/de/10years"><img src="https://www.flyingblue.com/images/flags/de.gif" alt="">Ger</a>
					</li>
					<li>
						<a href="/klm/es/es/10years"><img src="https://www.flyingblue.com/images/flags/es.gif" alt="">Esp</a>
					</li>
					<li>
						<a href="/klm/it/it/10years"><img src="https://www.flyingblue.com/images/flags/it.gif" alt="">Ita</a>
					</li>
					<li>
						<a href="/klm/ru/ru/10years"><img src="https://www.flyingblue.com/images/flags/ru.gif" alt="">Rus</a>
					</li>
					<li>
						<a href="/klm/ro/ro/10years"><img src="https://www.flyingblue.com/images/flags/ro.gif" alt="">Roe</a>
					</li>
					<li>
						<a href="/klm/jp/ja/10years"><img src="https://www.flyingblue.com/images/flags/ja.gif" alt="">Jap</a>
					</li>
					<li>
						<a href="/klm/kr/ko/10years"><img src="https://www.flyingblue.com/images/flags/ko.gif" alt="">Kor</a>
					</li>
					<li>
						<a href="/klm/cn/zhs/10years"><img src="https://www.flyingblue.com/images/flags/zhs.gif" alt="">CNS</a>
					</li>
					<li>
						<a href="/klm/cn/zh/10years"><img src="https://www.flyingblue.com/images/flags/zh.gif" alt="">CNT</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>