<div class="offer">
	<a href="https://pointshound.com/flyingblue" target="_blank" title="PointsHound makes every stay more rewarding">
		<div class="offer-visual">
			<div class="offer-icon">
				<div class="cell">
					Bonus Miles
				</div>
			</div>
			<div class="img-container img-ratio-5-2">
				<img alt="PointsHound makes every stay more rewarding" sizes="(min-width: 1000px) 930px, 90vw"
				data-srcset="
				/assets/img/pointhounds-small.jpg 480w, 
				/assets/img/pointhounds-medium.jpg 768w, 
				/assets/img/pointhounds-large.jpg 1024w" 
				data-src="/assets/img/pointhounds-large.jpg" class="lazyload img-responsive" />
			</div>
		</div>
	</a>
	<h3 class="offer-title">
		PointsHound makes every stay more rewarding
		<small>10,000 Award Miles </small>
	</h3>
	<div class="offer-intro">
		Earn up to 10,000 Award Miles on your hotel stays with PointsHound. The low-price guarantee makes sure you get the best deal possible. Even better, all first-time bookings will earn 2,000 extra Award Miles if you book before 31 December 2015.
	</div>
	<a href="https://pointshound.com/flyingblue" target="_blank" class="offer-link">Book now</a>
</div>