<div class="offer">
	<a href="http://www.accorhotels.com/gb/hotels-offers/promotion-44759-promotion.shtml " target="_blank" title="AccorHotels' exclusive offer for Flying&nbsp;Blue members">
		<div class="offer-visual">
			<div class="offer-icon">
				<div class="cell">
					<div class="firstline">2x</div>
					<div class="secondline">Accord Miles</div>
				</div>
			</div>
			<div class="img-container img-ratio-5-2">
				<img alt="AccorHotels' exclusive offer for Flying&nbsp;Blue members" sizes="(min-width: 1000px) 930px, 90vw"
				data-srcset="
				/assets/img/accor-small.jpg 480w, 
				/assets/img/accor-medium.jpg 768w, 
				/assets/img/accor-large.jpg 1024w" 
				data-src="/assets/img/accor-large.jpg" class="lazyload img-responsive" />
			</div>
		</div>
	</a>
	<h3 class="offer-title">
		AccorHotels' exclusive offer for Flying&nbsp;Blue members
		<small>Double&nbsp;Miles and a chance to win 10,000&nbsp;Award&nbsp;Miles</small>
	</h3>
	<div class="offer-intro">
		To celebrate the 10th anniversary of Flying&nbsp;Blue, Le Club AccorHotels is offering you double Miles for your winter stays. Stay at AccorHotels before 3&nbsp;January 2016 and you could also win 10,000 Award&nbsp;Miles.
	</div>
	<a href="http://www.accorhotels.com/gb/hotels-offers/promotion-44759-promotion.shtml " target="_blank" class="offer-link">Book now</a>
</div>