<!-- POINTS OFFER -->
<div class="offer">
	<div class="offer-sub-type">Points</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-12">
			<a href="#" target="_blank" title="Buy the extra Award Miles you need">
				<div class="img-container img-ratio-2-1">
					<img alt="Buy the extra Award Miles you need" sizes="(min-width: 1000px) 930px, 90vw"
					data-srcset="
					/assets/img/points-small.jpg 480w, 
					/assets/img/points-medium.jpg 768w, 
					/assets/img/points-large.jpg 1024w" 
					data-src="/assets/img/points-large.jpg" class="lazyload img-responsive" />
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-12">
			<h3 class="offer-title offer-title--horz">
				Buy the extra Award Miles you need
				<small>50% extra Award Miles</small>
			</h3>
			<div class="offer-intro">
				Until 30 November 2015, you will earn 50% extra Miles when you buy Award Miles. Just a few Miles short of that award (ticket) you’ve been saving up for? You can buy the Award Miles you need and book your award (ticket) right away. Award Miles can be purchased in units of 2,000.
			</div>
			<a href="#" target="_blank" class="offer-link">Buy now</a>
		</div>
	</div>
</div>