<div class="offer">
	<div class="offer-sub-type">Promo Awards</div>

	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-12">
			<a href="https://www.flyingblue.com/promo-awards.html" target="_blank" title="10th Anniversary Promo Awards">
				<div class="label-wrapper">
					<div class="img-container img-ratio-2-1">
						<img alt="10th Anniversary Promo Awards" sizes="(min-width: 1000px) 930px, 90vw"
						data-srcset="
						/assets/img/promoawards-small.jpg 480w, 
						/assets/img/promoawards-medium.jpg 768w, 
						/assets/img/promoawards-large.jpg 1024w" 
						data-src="/assets/img/promoawards-large.jpg" class="lazyload img-responsive" />
					</div>
					<div class="label"><img src="assets/img/label-extended-nl.png" alt="" class="img-responsive"></div>
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-12">
			<h3 class="offer-title offer-title--horz">
				10th Anniversary Promo Awards
				<small>Save 50% on your Award&nbsp;Miles</small>
			</h3>
			<div class="offer-intro">
				Flying Blue celebrates its 10th Anniversary with special Promo Awards. Save no less than 50% on your Award Miles on selected destinations! The sales period will be only between 1 and 10 December 2015 (10 days).
			</div>
			<a href="https://www.flyingblue.com/promo-awards.html" target="_blank" class="offer-link">Book now</a>
		</div>
	</div>
</div>