<div class="offer">
	<div class="offer-sub-type">Flying Blue Store</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-12">
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" title="Sony Electronics - exclusive offers">
				<div class="img-container img-ratio-2-1">
					<img alt="Sony Electronics - exclusive offers" sizes="(min-width: 1000px) 930px, 90vw"
					data-srcset="
					/assets/img/sony-small.jpg 480w, 
					/assets/img/sony-medium.jpg 768w, 
					/assets/img/sony-large.jpg 1024w" 
					data-src="/assets/img/sony-large.jpg" class="lazyload img-responsive" />
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-12">
			<h3 class="offer-title offer-title--horz">
				Sony Electronics - exclusive offers
				<small>Mega deals!</small>
			</h3>
			<div class="offer-intro">
				Smile to the Sony Compact Camera, it is our birthday! For only 94.004 Miles. You can find this offer and many more in our Flying Blue Store: specially selected products, also suitable for a smaller Miles balance! 
			</div>
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" class="offer-link">Visit store</a>
		</div>
	</div>
</div>