<!-- STORE OFFER -->
<div class="offer">
	<div class="offer-sub-type">Flying Blue Store</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-12">
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" title="Flying Blue Store - celebration time!">
				<div class="img-container img-ratio-2-1">
					<img alt="Flying Blue Store - celebration time!" sizes="(min-width: 1000px) 930px, 90vw"
					data-srcset="
					/assets/img/store-small.jpg 480w, 
					/assets/img/store-medium.jpg 768w, 
					/assets/img/store-large.jpg 1024w" 
					data-src="/assets/img/store-large.jpg" class="lazyload img-responsive" />
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-7 col-md-12">
			<h3 class="offer-title offer-title--horz">
				Flying Blue Store - celebration time!
				<small>Miles discounts</small>
			</h3>
			<div class="offer-intro">
				Check out our Flying&nbsp;Blue&nbsp;Store with perfect gifts for everybody! Choose from a wide selection of premium brands and more than 300 different products. To celebrate our 10<sup>th</sup> anniversary, Flying&nbsp;Blue&nbsp;Store has a lot of great deals in store for you! 
			</div>
			<a href="http://store.flyingblue.com/10year.html?utm_source=FB&utm_medium=Email&utm_campaign=10year" target="_blank" class="offer-link">Visit store</a>
		</div>
	</div>
</div>