body, html{
	margin: 0;
	padding: 0;
}
.ad-dm-mpu{
	width: 300px;
	height: 250px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #d21920;
	font: normal normal 13px/1.5 'Arial', 'Helvetica','Helvetica Neue',sans-serif;
	color: #000;
	margin: 0px;
	float: left;  
	position: relative;

	&--tubantia{
		border-color: #000;
		border-radius: 3px;
	}
}

.ad-dm-mpu-header{
	height: 30px;
	background: #d21920 url(../img/adlogo.png) no-repeat top left scroll;
	background-size: 30px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	font-size: 14px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c52b31+0,b91f24+49,af060b+50,a50003+100 */
	background: #c52b31; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1MmIzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2I5MWYyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2FmMDYwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNTAwMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c52b31 0%, #b91f24 49%, #af060b 50%, #a50003 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c52b31), color-stop(49%,#b91f24), color-stop(50%,#af060b), color-stop(100%,#a50003)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c52b31 0%,#b91f24 49%,#af060b 50%,#a50003 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c52b31 0%,#b91f24 49%,#af060b 50%,#a50003 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c52b31 0%,#b91f24 49%,#af060b 50%,#a50003 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c52b31 0%,#b91f24 49%,#af060b 50%,#a50003 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c52b31', endColorstr='#a50003',GradientType=0 ); /* IE6-8 */

	& span{
		display: block;
		background: transparent url(../img/adlogo.png) no-repeat top left scroll;
		background-size: 30px;
		padding-left: 40px;
		height: 30px;
	}

	&--tubantia{
		/*background: none;
		color: #d2002a;*/

		& span{
			padding-left: 10px;
			background-image: none;
			background-color: #d2002a;
		}
	}
}

.ad-dm-mpu-form{
	position: relative;
	height: 220px;
	padding: 15px;

	& fieldset{
		border: none;
		padding: 0;
	}
}

.ad-dm-mpu-question{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 10px;

	& span{
		display: block;
		font-size: 13px;
		margin-top: 3px;
		font-weight: normal;
		font-style: italic;
		height: 31px;
	}

	&--tubantia{

		& span{
			color: #000;
		}
	}
}
.ad-dm-mpu-answer-wrapper{
	float: left;
	width: 155px;
}

.ad-dm-mpu-answer{
	margin-bottom: 3px;
	

	&--center{
		text-align: center;
	}

	& label{
		font-size: 13px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
}

.ad-dm-mpu-steps{
	font-size: 12px;
	position: absolute;
	color: #888;
	right: 10px;
	bottom: 58px;

	&--rc{
		bottom: 10px;
		right: 20px;
	}
	&--lc{
		bottom: 20px;
		left: 20px;
	}
	&--trc{
		top: 15px;
		right: 20px;
	}

	&--tubantia{
		
	}
}

.ad-dm-mpu-smalltext{
	font-size: 12px; 
	padding-bottom:2px; 
	color: #666;
}

.ad-dm-mpu-loader{
	background: rgba(255,255,255,0.8) url(../img/ajax-loader.gif) no-repeat center center scroll;
	position: absolute;
	left: 0px;
	top: 30px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	z-index: 10;
}
.ad-dm-mpu-info{
	margin: 5px 0 0 18px;
	display: none;
}
.ad-dm-mpu-label{
	display: block;
	font-size: 13px;
	margin-bottom: 3px;
}
.ad-dm-mpu-textfield{
	font-size: 11px;
	margin-bottom: 3px;
	width: 120px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 2px 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #000;
	cursor: normal;

	&-error{
		color: #a12427;
		border-color: #a12427;
	}
	&--large{
		font-size: 13px;
		padding: 7px 12px;
		width: 65%;
		margin-bottom: 10px;
		position: relative;
		margin-top: 10px;
		top: 2px;
	}
}

.ad-dm-mpu-errormessage{
	font-size: 11px;
	color: #d2002a;
	font-weight: bold;
	position: relative;
	margin-bottom: -8px;
}

.ad-dm-mpu-left{
	float: left;
	width: 130px;
}

.ad-dm-mpu-form-radio{
	display: inline-block;
	line-height: 0;
	margin: 0 5px 0 0;
}

.ad-dm-mpu-form-nav{
	background-color: #d21920;
	border-top: 1px solid #ecf0f1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	text-align: right;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#980104+0,d21920+100 */
	background: #980104; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4MDEwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMjE5MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #980104 0%, #d21920 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#980104), color-stop(100%,#d21920)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #980104 0%,#d21920 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #980104 0%,#d21920 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #980104 0%,#d21920 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #980104 0%,#d21920 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#980104', endColorstr='#d21920',GradientType=0 ); /* IE6-8 */

}

.ad-dm-mpu-form-error{
	float: left;
	font-size: 12px;
	color: #fff;
	width: 160px;
	padding-top: 5px;
	text-align: left;
}

.ad-dm-mpu-btn{
	background-color: #003168;
	color: #fff;
	font-family: arial;
	border: none;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 7px 10px;
	font-size: 13px;
	line-height: 1;
	border-bottom: 3px solid rgba(0,0,0,0.3);
	cursor: pointer;
	display: inline-block;

	&--answer{
		display: block;
		width: 100%;
	
		text-align: left;
		position: relative;

		&:after{
			content: "\f101";
			font-family: "FontAwesome";
			display: inline-block;
			color: #fff;
			position: absolute;
			right: 10px;
		}
	}

	&:hover{
		background-color: #004898;
	}

	&:active{
		border-top: 3px solid rgba(0,0,0,0.3);
		border-bottom: none;
	}

	&--tubantia{
		background-color: #fff;
		border: 1px solid #d2002a;
		color: #d2002a;
		font-weight: bold;

		&:after{
			color: #d2002a;
		}

		&:hover{
			background-color: #d2002a;
			color: #fff;

			&:after{
				color: #fff;
			}
		}
	}
}

.ad-dm-mpu-link, .privacy-link{
	color: #003168;
	text-decoration: underline;
	font-weight: normal;
}

.privacy-link{
	font-size: 11px;
	margin-top: 4px;
}

.ad-dm-mpu-end{
	position: absolute;
	height: 70px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0 20px;
}

.ad-dm-mpu-end-small{
	font-size: 12px;
	line-height: 1.3;
	font-weight: normal;
	padding: 5px 0 10px 0;
}

.ad-dm-mpu-privacy{
	font-size: 10px;
	color: #115398;
	text-decoration: underline;
	display: inline-block;
	margin-left: 50px;
}

.ad-dm-mpu-illu{
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 100%;
	overflow: hidden;
	height: 90px;
	margin-right: 15px;
	border: 1px solid #ccc;

	& img{
		width: 90px;
		height: 90px;
	}

	&--right{
		float: right;
		margin-right: 0px;
	}
}

.ad-dm-mpu-btn--submit{
	margin-top: 9px;
	width: 110px;
	position: relative;

	&:after{
		content: "\f101";
		font-family: "FontAwesome";
		display: inline-block;
		color: #fff;
		position: absolute;
		right: 10px;
	}
}