html, body{
	height: 100%;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body{
	background-color: #fff;
	position: relative;
	-webkit-overflow-scrolling: touch;
}