@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(bootstrap.css);
body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #042452;
  cursor: default; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #52b7e8; }

::selection {
  color: #fff;
  background: #52b7e8; }

.mo-header {
  background-color: #fff;
  line-height: 0;
  padding: 30px 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3); }
  @media all and (max-width: 767px) {
    .mo-header {
      padding: 15px 0; } }

.mo-visual {
  height: 15%;
  min-height: 50px;
  background-color: #f6f6f6;
  background: #fff url("../img/visual.jpg") no-repeat center center scroll;
  background-size: cover; }

.mo-logo {
  background: transparent url("../img/fb-logo.svg") no-repeat scroll 0 0;
  display: inline-block;
  height: 24px;
  width: 187px;
  background-size: 187px;
  margin: 0; }
  @media all and (max-width: 767px) {
    .mo-logo {
      background-size: 120px;
      height: 15px;
      width: 120px;
      margin: 0px auto !important;
      display: block; } }

.mo-section {
  padding: 50px 0; }
  @media all and (max-width: 767px) {
    .mo-section {
      padding: 30px 0; } }
  .mo-section-no-padding-top {
    padding-top: 0px; }

.mo-splash {
  background-color: #62b4e8; }

.mo-h1 {
  /* Great! You’re almost: */
  font-weight: 400;
  font-size: 35px;
  color: #FFFFFF;
  line-height: 1.3;
  margin: 0;
  padding: 0; }
  @media all and (max-width: 767px) {
    .mo-h1 {
      font-size: 19px; } }

.mo-h2 {
  /* Earn Award Miles rig: */
  font-weight: 700;
  font-size: 22px;
  color: #042452;
  line-height: 1.3;
  margin: 0 0 40px; }
  @media all and (max-width: 767px) {
    .mo-h2 {
      font-size: 15px;
      margin: 0 0 30px; } }

.mo-p {
  /* You can fly from Ams: */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 40px; }
  @media all and (max-width: 767px) {
    .mo-p {
      font-size: 13px; } }

.mo-legal {
  /* Miles are calculated: */
  margin-top: 40px;
  font-size: 13px;
  color: #9B9B9B;
  line-height: 1.5;
  margin: 0; }
  @media all and (max-width: 767px) {
    .mo-legal {
      font-size: 10px; } }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s; }

.mo-dest-list {
  margin: 0;
  padding: 0; }
  .mo-dest-list li {
    list-style-type: none;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    border-bottom: 1px solid #eaf4fd;
    padding-top: 8px;
    padding-bottom: 8px; }

.mo-dest-link {
  color: #042452; }
  .mo-dest-link:hover {
    color: #3C9FDE; }

.mo-ul {
  list-style-type: square;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 40px 15px; }
  .mo-ul li {
    margin-bottom: 4px; }
  @media all and (max-width: 767px) {
    .mo-ul {
      font-size: 13px; } }

.mo-button {
  display: inline-block;
  background-color: #62b4e8;
  padding: 2px 10px;
  white-space: nowrap;
  color: #fff;
  float: right;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: 900;
  text-transform: none; }
  .mo-button:after {
    content: "\f105";
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    font-weight: normal;
    margin-left: 6px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s; }
  .mo-button:hover {
    background-color: #042452; }
    .mo-button:hover:after {
      margin-left: 10px; }

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  background-color: #fff;
  position: relative;
  -webkit-overflow-scrolling: touch; }

/*# sourceMappingURL=styles.css.map */
