$text-color: #2f2f2f;
$heading-color: #2f2f2f;

$dark-color: #2f2f2f;

$accent-color: pink;

$primary-font: 'Lato';
$secondary-font: 'Times New Roman',serif;


/***** BUTTONS ****/
$btn-bg-color: transparent;

$primary-btn-color: #202020;
$primary-btn-hover-color: #fff;

$secondary-btn-color: #323436;
$secondary-btn-hover-color: #fff;

$tertiary-btn-color: #d49c16;
$tertiary-btn-hover-color: #fff;

/***** BACKGROUND ****/
$primary-bg-color: #fff;
$secondary-bg-color: #f4f4f4;
$tertiary-bg-color: #d49c16;
$light-bg-color: #f4f4f4;